build*/
.DS_Store
.cache
compile_commands.json
rtl_airband*.log
.vscode/settings.json
.env
.vscode/settings.json
qt_scanner_remote/.vscode/settings.json
qt_scanner_remote/release/avcodec-61.dll
qt_scanner_remote/release/avformat-61.dll
qt_scanner_remote/release/avutil-59.dll
qt_scanner_remote/release/D3Dcompiler_47.dll
qt_scanner_remote/release/libgcc_s_seh-1.dll
qt_scanner_remote/release/libstdc++-6.dll
qt_scanner_remote/release/libwinpthread-1.dll
qt_scanner_remote/release/opengl32sw.dll
qt_scanner_remote/release/qt_scanner_remote.exe
qt_scanner_remote/release/Qt6Core.dll
qt_scanner_remote/release/Qt6Gui.dll
qt_scanner_remote/release/Qt6Multimedia.dll
qt_scanner_remote/release/Qt6Network.dll
qt_scanner_remote/release/Qt6Svg.dll
qt_scanner_remote/release/Qt6Widgets.dll
qt_scanner_remote/release/swresample-5.dll
qt_scanner_remote/release/swscale-8.dll
qt_scanner_remote/release/generic/qtuiotouchplugin.dll
qt_scanner_remote/release/iconengines/qsvgicon.dll
qt_scanner_remote/release/imageformats/qgif.dll
qt_scanner_remote/release/imageformats/qico.dll
qt_scanner_remote/release/imageformats/qjpeg.dll
qt_scanner_remote/release/imageformats/qsvg.dll
qt_scanner_remote/release/multimedia/ffmpegmediaplugin.dll
qt_scanner_remote/release/multimedia/windowsmediaplugin.dll
qt_scanner_remote/release/networkinformation/qnetworklistmanager.dll
qt_scanner_remote/release/platforms/qwindows.dll
qt_scanner_remote/release/styles/qmodernwindowsstyle.dll
qt_scanner_remote/release/tls/qcertonlybackend.dll
qt_scanner_remote/release/tls/qschannelbackend.dll
qt_scanner_remote/release/translations/qt_ar.qm
qt_scanner_remote/release/translations/qt_bg.qm
qt_scanner_remote/release/translations/qt_ca.qm
qt_scanner_remote/release/translations/qt_cs.qm
qt_scanner_remote/release/translations/qt_da.qm
qt_scanner_remote/release/translations/qt_de.qm
qt_scanner_remote/release/translations/qt_en.qm
qt_scanner_remote/release/translations/qt_es.qm
qt_scanner_remote/release/translations/qt_fa.qm
qt_scanner_remote/release/translations/qt_fi.qm
qt_scanner_remote/release/translations/qt_fr.qm
qt_scanner_remote/release/translations/qt_gd.qm
qt_scanner_remote/release/translations/qt_he.qm
qt_scanner_remote/release/translations/qt_hr.qm
qt_scanner_remote/release/translations/qt_hu.qm
qt_scanner_remote/release/translations/qt_it.qm
qt_scanner_remote/release/translations/qt_ja.qm
qt_scanner_remote/release/translations/qt_ka.qm
qt_scanner_remote/release/translations/qt_ko.qm
qt_scanner_remote/release/translations/qt_lg.qm
qt_scanner_remote/release/translations/qt_lv.qm
qt_scanner_remote/release/translations/qt_nl.qm
qt_scanner_remote/release/translations/qt_nn.qm
qt_scanner_remote/release/translations/qt_pl.qm
qt_scanner_remote/release/translations/qt_pt_BR.qm
qt_scanner_remote/release/translations/qt_ru.qm
qt_scanner_remote/release/translations/qt_sk.qm
qt_scanner_remote/release/translations/qt_sv.qm
qt_scanner_remote/release/translations/qt_tr.qm
qt_scanner_remote/release/translations/qt_uk.qm
qt_scanner_remote/release/translations/qt_zh_CN.qm
qt_scanner_remote/release/translations/qt_zh_TW.qm
